.content {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.nav li {
    margin: 0 15px;
}

.nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.nav a:hover {
    color: #ffd700;
}

.contactContent {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.contactContent ul {
    list-style-type: none;
    padding: 0;
}

.contactContent li {
    margin: 10px 0;
}

.contactContent a {
    color: #00bfff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.contactContent a:hover {
    color: #ffd700;
}

.content h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}