.githubInfo {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    cursor: pointer;
}

.infoContent {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
}

.infoContent p {
    margin: 0 0 10px 0;
    color: #ffffff;
}

.infoContent a {
    color: #00bfff;
    text-decoration: none;
    transition: color 0.3s;
}

.infoContent a:hover {
    color: #ffd700;
}