.mainContent {
    display: grid;
    grid-template-columns: minmax(1rem, 1fr) minmax(auto, 90ch) minmax(1rem, 1fr);
    min-height: 100vh;
}

.pageContent {
    grid-column: 2;
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 768px) {
    .mainContent {
        grid-template-columns: minmax(0.5rem, 1fr) minmax(auto, 95%) minmax(0.5rem, 1fr);
    }
}