/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/contact/Contact.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.Contact_content__x87U0 {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.Contact_nav__IDrkc ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.Contact_nav__IDrkc li {
    margin: 0 15px;
}

.Contact_nav__IDrkc a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.Contact_nav__IDrkc a:hover {
    color: #ffd700;
}

.Contact_contactContent__wIWpH {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.Contact_contactContent__wIWpH ul {
    list-style-type: none;
    padding: 0;
}

.Contact_contactContent__wIWpH li {
    margin: 10px 0;
}

.Contact_contactContent__wIWpH a {
    color: #00bfff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.Contact_contactContent__wIWpH a:hover {
    color: #ffd700;
}

.Contact_content__x87U0 h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}
